[Desktop Entry]
Name=gamux
Comment=Linux Steam Game Manager
Exec=gamux-gui %u
Icon=io.github.staernid.gamux
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=steam;games;lutris;goldberg;manager;
StartupWMClass=gamux-gui
MimeType=x-scheme-handler/gamux;
